<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <style>
        .graph-wide {
            position: relative;
            height: 60vh;
            width: 80vw;
            padding: 1em;
        }
        body {
            padding-bottom: 5vh;
        }
    </style>
</head>
<body>
<a href="/" class="btn btn-secondary">Go back</a>
<h2> Welcome to statistics.</h2>
<p> Here you can find information about the games being played.</p>
<p> As of now, we keep track of which cards are discarded (at the beginning of the game, players can choose to discard
    them). And which cards are redrawn,
    (during gameplay, players can choose to "skip" certain cards - redraw a different one).</p>
<h2>Card discards</h2>
<div class="graph-wide"><canvas id="discarded_graph"></canvas></div>
<h2>Card redraws</h2>
<div class="graph-wide"><canvas id="redrawn_graph"></canvas></div>
<hr>
<h2>Game length:</h2>
<div>
    <h3> Average game time: <span id="avg-game-time" style="font-style: italic"> </span> seconds.</h3>
    <p> </p>
</div>
<div class="graph-wide"><canvas id="game_time_graph"></canvas></div>
<h2>Registered users</h2>
<small> Total users registered: <span th:text="${countUsers}"></span></small>
<table class="table table-striped table-hover" id="users-table">
    <p th:if="${#lists.isEmpty(users)}" class="text-danger">
        There are no more users to display.
    </p>
    <thead>
    <tr>
        <th>Email</th>
        <th>Registered on</th>
        <th>Last visited on</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user[1]}"></td>
        <td th:text="${user[2]}"></td>
        <td th:text="${user[3]}"></td>
    </tr>
    </tbody>
</table>
<button id="users-prev-btn" class="btn btn-primary">Previous page</button>
<button id="users-next-btn" class="btn btn-primary">Next page</button>
<span> Current page number: <span id="page-no-counter"> </span></span>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
<script th:inline="javascript">

    var usersPageNumber = window.location.pathname.split("/").pop();
    $('#page-no-counter').text(usersPageNumber);
    var usersObj = /*[[${users}]]*/ {};
    console.log(usersObj);
    console.log(/*[[${countUsers}]]*/);

    $('#users-prev-btn').click(function () {
        if(Number(usersPageNumber) > 1) {
            usersPageNumber--;
            window.location = window.location.origin+'/admin/statistics/'+usersPageNumber
        }
    });
    $('#users-next-btn').click(function () {
        if (usersObj.length !== 0) {
            usersPageNumber++;
            window.location = window.location.origin+'/admin/statistics/'+usersPageNumber
        }
    });

    const card_discarded_map = /*[[${discards}]]*/ {};
    console.log(card_discarded_map);
    const card_redrawn_map = /*[[${redraws}]]*/ {};
    console.log(card_redrawn_map);
    const game_times = /*[[${gametime}]]*/ {};
    console.log(game_times);
    const avg_game_time = /*[[${avggametime}]]*/ {};
    let avg_game_time_mins = 0;
    let avg_game_time_secs = 0;
    console.log(avg_game_time);
</script>
<script>

    if (avg_game_time>60) {
        avg_game_time_mins = avg_game_time/60;
        avg_game_time_secs = avg_game_time%60;
        document.getElementById("avg-game-time").textContent = `${avg_game_time_mins} minutes and ${avg_game_time_secs}`
    } else {
        document.getElementById("avg-game-time").textContent = avg_game_time.toString();
    }
    // Say "No data" if the dataset is empty.
    const no_data_plugin = {
        id: 'no-data',
        beforeDraw(chart) {
            if (chart.data.datasets[0].data.length === 0) {
                // No data is present
                let ctx = chart.ctx;
                let width = chart.width;
                let height = chart.height
                chart.clear();

                ctx.save();
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.font = "16px normal 'Helvetica Nueue'";
                ctx.fillText('No data to display', width / 2, height / 2);
                ctx.restore();
            }
        }
    };
    // rendering the canvas
    var ctxDiscarded = document.getElementById('discarded_graph').getContext('2d');
    var discarded_chart = new Chart(ctxDiscarded, {
        type: 'bar',
        data: {
            labels: Object.keys(card_discarded_map),
            datasets: [{
                label: 'Number of discards',
                data: Object.values(card_discarded_map),
                backgroundColor: 'rgb(255,174,174)',
                borderColor: 'rgb(33,33,33)',
                borderWidth: 1
            }]
        },
        options: {
            responsive:  true,
            maintainAspectRatio: false,

            indexAxis: 'y',
            plugins: {
                title: {
                    display: true,
                    text: 'Card discards',
                    padding: {
                        top: 10,
                        bottom: 10
                    }
                },
                legend: {
                    onClick: (e) => e, // Stopping unwanted default behavior (hides labels on click)
                    labels: {
                        font: {
                            family: "Helvetica"
                        }
                    }
                },
            },
            scale: {
                ticks: {
                    precision: 0
                }
            }
        },
        plugins: [no_data_plugin]
    });
    var ctxRedrawn = document.getElementById('redrawn_graph').getContext('2d');
    var redrawn_chart = new Chart(ctxRedrawn, {
        type: 'bar',
        data: {
            labels: Object.keys(card_redrawn_map),
            datasets: [{
                label: 'Number of redraws',
                data: Object.values(card_redrawn_map),
                backgroundColor: 'rgb(117,207,236)',
                borderColor: 'rgb(33,33,33)',
                borderWidth: 1
            }]
        },
        options: {
            responsive:  true,
            maintainAspectRatio: false,

            indexAxis: 'y',
            plugins: {
                title: {
                    display: true,
                    text: 'Card redraws',
                    padding: {
                        top: 10,
                        bottom: 10
                    }
                },
                legend: {
                    onClick: (e) => e, // Stopping unwanted default behavior (hides labels on click)
                },
            },
            scale: {
                ticks: {
                    precision: 0
                }
            }
        },
        plugins: [no_data_plugin]
    });
    var ctxGameTime = document.getElementById('game_time_graph').getContext('2d');
    var gametime_chart = new Chart(ctxGameTime, {
        type: 'bar',
        data: {
            labels: Object.keys(game_times),
            datasets: [{
                label: 'Time in seconds',
                data: Object.values(game_times),
                backgroundColor: 'rgb(243,136,79)',
                borderColor: 'rgb(33,33,33)',
                borderWidth: 1
            }]
        },
        options: {
            responsive:  true,
            maintainAspectRatio: false,

            indexAxis: 'x',
            plugins: {
                title: {
                    display: true,
                    text: 'Last 20 games played',
                    padding: {
                        top: 10,
                        bottom: 10
                    }
                },
                legend: {
                    onClick: (e) => e, // Stopping unwanted default behavior (hides labels on click)
                },
            },
            scale: {
                ticks: {
                    precision: 0
                }
            }
        },
        plugins: [no_data_plugin]
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>